html {
	height: 100%;
}

body#main {
	background-color: #ddffb3;
}

body {
	background-color: #c7f197;
}

/* search.html */
#SearchResult {
	color: #39473d;
}

.result_table_row:nth-child(odd) {
	background-color: #9fd185;
}

.result_table_row:hover {
	background-color: #58cd1c;
}

.header {
	color: #ffffff;
	background-color: #23432c;
}
