html {
	height: 100%;
}

body#main {
	background-color: rgb(204, 204, 204);
}

body {
	background-color: rgb(221, 221, 221);
}

#title {
	text-shadow: 0px 0px 4px rgb(64, 64, 64);
}

.dropdown {
	background-color: rgb(221, 221, 221);
}

.dropdown-content {
	background-color: rgb(221, 221, 221);
}

/* search.html */
.radio_button {
	color: rgb(155, 155, 155);
	background-color: rgb(64, 64, 64);
}

.radio_button:hover {
	color: rgb(255, 255, 255);
}

input.hide:checked + .radio_button {
	background-color: rgb(159 209 133);
}

#SearchResult {
	color: rgb(64, 64, 64);
}

.result_table_row:nth-child(odd) {
	background-color: rgb(204, 204, 204);
}

.result_table_row:hover {
	background-color: rgb(159, 209, 133);
}

.header {
	color: rgb(255, 255, 255);
	background-color: rgb(64, 64, 64);
}

/* map.html */
button.untoggled {
	background-color: rgb(221, 221, 221);
}

button.untoggled:hover {
	background-color: rgb(204, 204, 204);
}

button.toggled {
	background-color: rgb(204, 204, 204);
}

button.toggled:hover {
	background-color: rgb(221, 221, 221);
}
