body {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #ddffb3;
}

header {
	display: flex;
	text-align: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 5px 12px;
	align-items: center;
}

iframe {
	border-style: none;
}

.dropdown {
	display: flex;
	border: 1px groove;
	padding: 3px 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	padding: 5px 5px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

#main_container {
	display: flex;
	padding: 2px;
	margin: 2px 5px;
	flex: auto;
}

footer {
	text-align: right;
	margin: 2px 7px;
}

button {
	cursor: pointer;
}

#map_frame {
	flex: 1;
	margin: 2px 5px;
}

#content {
	flex: 2;
	margin-left: 5px;
}
