body {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #ddffb3;
}

header {
	display: flex;
	text-align: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 5px 12px;
	align-items: center;
}

iframe {
	border-style: none;
}

.styles {
	display: flex;
	justify-content: flex-start;
}

#title {
	width:80%;
}

.languages {
	display: flex;
	justify-content: flex-end;
}

#main_container {
	display: flex;
	padding: 2px;
	margin: 2px 5px;
	flex: auto;
}

footer {
	text-align: right;
	margin: 2px 7px;
}

button {
	cursor: pointer;
}

#map_frame {
	flex: 1;
	width: 35%;
	margin: 2px 5px;
}

#content {
	flex: 2;
	margin-left: 5px;
	background-color: #c1daa4;
}
